body {
    background: #FF4E50;  /*fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fe8c00, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fe8c00, #FF4E50);
}
  
/* Scroller styling */
.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
}

.scroller > span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
}

@keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
}